///////// - SQUAD PLAYER - //////////

.squadPlayer {
  margin: 3px;
  border: 1px solid black;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;

  background-color: rgb(40, 36, 104);

  /*==============================
  ----------- PLAYER INFO ----------
  /*============================== */
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 3px;
    width: 100%;
    max-height: 61px;

    &__img {
      height: 40px;
      width: auto;
      object-fit: initial;
    }

    &__name {
      margin-left: 10px;
    }

    &__number {
      margin-left: auto;
      margin-right: 5%;
    }
  }

  /*==============================
  ----------- ACTION BAR ----------
  /*============================== */

  &__action {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "delete arrow1"
      "delete arrow2";

    & button {
      margin-right: 3px;
      font-size: 0.7rem;
      text-align: center;
      width: 20px;
    }

    &__delete {
      grid-area: delete;
      height: 20px;
    }

    &__btnText {
      position: relative;
      right: 5px;
    }
  }
}
